<div class="col-sm-2">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

  <div class="sidebar-module">
    <h4>Find me elsewhere</h4>
    <div class="follow-icons">
    <table>
      <tr>
        <td>
          <span style="font-size: 2em; color: grey;">
            <a href="https://scholar.google.com/citations?user=4Kvx61cAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-1x"></i></a>
          </span>
        </td>
        <td>
            <a href="https://scholar.google.com/citations?user=4Kvx61cAAAAJ&hl=en">Google Scholar</a>
        </td>
      </tr>
      <tr>
        <td>
          <span style="font-size: 2em; color: grey;">
            <a href="https://twitter.com/MirandaLucis"><i class="fab fa-twitter-square"></i></a>
          </span>
        </td>
        <td>
            <a href="https://twitter.com/luxenous">@luxenous</i></a>
        </td>
      </tr>
      <tr>
        <td>
          <span style="font-size: 2em; color: grey;">
            <a href="https://github.com/LuxMiranda/"><i class="fab fa-github-square"></i></a>
          </span>
        </td>
        <td>
            <a href="https://github.com/LuxMiranda/">GitHub</a>
        </td>
      </tr>
      <tr>
        <td>
          <span style="font-size: 2em; color: grey;">
            <a href="https://orcid.org/0000-0002-3753-7405"><i class="ai ai-orcid-square"></i></a>
          </span>
        </td>
        <td>
            <a href="https://orcid.org/0000-0002-3753-7405">ORCiD</a>
        </td>
      </tr>
    </table>
    </div>
  </div>

</div>

