<div class="col-sm-2">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <div class="sidebar-module">
    <h4>Subscribe</h4>
    <form style="padding:3px;text-align:center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=JackMiranda', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
      <p>
        Receive new posts right in your inbox!
      </p>
      <p>
        <input type="text" style="width:190px" placeholder="Enter your email" name="email"/>
      </p>
      <input type="hidden" value="JackMiranda" name="uri"/>
      <input type="hidden" name="loc" value="en_US"/>
      <input type="submit" value="Subscribe" />
    </form>
  </div>

  <div class="sidebar-module">
    <h4>Find me elsewhere</h4>
    <div class="follow-icons">
    <table>
      <tr>
        <td>
          <span style="font-size: 3em; color: grey;">
            <a href="https://github.com/LuxMiranda/"><i class="fab fa-github-square"></i></a>
          </span>
        </td>
        <td>
          <span style="font-size: 3em; color: grey;">
            <a href="https://twitter.com/MxLuxMiranda"><i class="fab fa-twitter-square"></i></a>
          </span>
        </td>
      </tr>
    </table>
    </div>
  </div>

{% include Recent_Posts.html %}
</div>

