---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <!-- Social media meta tags -->
      <meta property="twitter:title" content="{{ page.title }}">
      <meta property="twitter:description" content="{{ page.excerpt }}">
      <meta property="twitter:image" content="{{ page.image }}">
      <meta property="twitter:image:alt" content="{{ page.imagealt }}">
      <meta property="twitter:card" content="summary_large_image">
      <meta property="og:title" content="{{ page.title }}">
      <meta property="og:description" content="{{ page.excerpt }}">
      <meta property="og:image" content="{{ page.image }}">
      <meta property="og:url" content="{{ page.url }}">
      <meta name="twitter:site" content="@{{ site.twitter_username}}">
    <!---------------------------->
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <p class="post-meta">
    {{ site.locales[site.default_locale].PostedInCategories }}
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>{% unless page.categories.last == cat %}, {% endunless %}
    {% endfor %} 
    {% if page.tags != empty %}
    {{ site.locales[site.default_locale].Taggedwith }}
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}
    <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ site.locales[site.default_locale].PostDate }}{{ page.date | date: "%b %-d, %Y" }}
    </time>
    </p>
  </header>

  <article class="post-content" itemprop="articleBody">
    <img src="{{ page.image }}" alt="{{ page.imagealt }}" /><br />
    {{ content }}
  </article>
  <hr />
</div>


{% include page_pagination.html%}
{% include comments.html %}

