<!DOCTYPE html>

{% include head.html %}


<html>


<style>

.post {
  display: flex;
  border-bottom: 1px solid;
  border-bottom-color: rgb(0, 61, 64) !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumb {
  flex: 60%;
  margin: 10px;
}

.post-body {
  margin: 10px;
}

</style>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<body>

<div class="container">

{% include header.html %}

<div class="posts">

  {% for post in site.posts %}
    <div class="post">

        <div class="thumb">
            <img src="{{ post.image }}">
        </div>

        <!--
          Want:
          Title
          Authors
          Date
          PDF link
          Google scholar link

        -->
        <div class="post-body"> 
    <!-- Post body -->
    <h3><a href="{{ post.doi }}">{{ post.title }}</a></h3>

    {{ post.authors }} <br>

    <i>{{ post.date | date: "%-d %b %Y" }}</i> <br>

    <button><i class="fas fa-file-alt"></i> PDF</button>
    <button><i class="ai ai-google-scholar ai-1x"></i> Google Scholar</button>

    <!-- End post body -->
 
        </div>

    </div>
  {% endfor %}
</div>

{% include footer.html %}

</div>

</body>
</html>
